body {
  margin: 15px;
}

h1 {
  color: white;
  font-size: 50px;
  background-color: darkred;
  height: 80px;
  line-height: 80px;
  font-family: sans-serif;
}

nav {
  background-color: #333333;
  height: 65px;
}

a {font-size: 30px;}

aside {
  float: right;
  width: 20%;
}

footer {
  background-color: #333333;
  color: white;
}

.title {
  font-size: 30px;
  font-weight: bold;
}
